/* RESET */

html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, font, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td {

margin: 0;

padding: 0;

outline: 0;

font-size: 100%;

vertical-align: baseline;

background: transparent;

height: auto;

border-top-width: 0;

border-bottom-width: 0;

border-left-width: 0;

}

blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}

blockquote, q {quotes: none;}

:focus {outline: 0;}

.clear {clear: both;display: block;height: 1px;overflow: hidden;margin: 0;padding: 0;}

ins {text-decoration: none;}

del {text-decoration: line-through;}

table {border-collapse: collapse;border-spacing: 0;}

ol, ul {list-style: none;}

body {background-color: white;background-position: center center;}

/* RESET */

div#container{
    width:1000px;
    border:1px solid red;
    margin:20px auto 0;
}

div#container div{
    border:1px solid red;
    /* width:33%; */
    width:200px;
    height:auto;
    /* display:inline-block; */
    float:left;
    margin:0 20px 0 0;
}

br.floating{
    clear:both !important;
}

a.close{
    /* float:right;
    margin-top:-290px; */
    position:absolute;
    z-index: 3;
    top:100px;
    padding:20px;

    /* right:0; */
    background: red;
}

a.close.green{
    z-index:2;
    top: 110px;
    background: green;
}

/* div#container div:last-child{
    float:right;
} */

/* div#container div:first-child{
    margin:0;
} */